# Build and Release Folders
.DS_Store
node_modules/
/dist
dist/
npm-debug.log
yarn-error.log

# Other files and folders
.settings/


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Executables
*.swf
*.air
*.ipa
*.apk

learn.vue.code-workspace
.history/*
