/*@charset "utf-8";*/

@font-face{
font-family:"Moebius_Regular_kor";
src:url('../font/Moebius_Regular_kor.eot');
src:local(※),
url('../font/Moebius_Regular_kor.woff') format('woff'),
url('../font/Moebius_Regular_kor.ttf') format('truetype');
}

@font-face{
font-family:"Moebius_Bold_kor";
src:url('../font/Moebius_Bold_kor.eot');
src:local(※),
url('../font/Moebius_Bold_kor.woff') format('woff'),
url('../font/Moebius_Bold_kor.ttf') format('truetype');
}

@font-face {
	font-family: 'notokr-medium'; 
	src: url('../font/notokr-demilight.eot'); 
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../font/notokr-medium.woff2') format('woff2'),
	url('../font/notokr-medium.woff') format('woff'),
	url('../font/notokr-medium.ttf') format('truetype'),	
	url('../font/notokr-medium.svg#notokr-medium') format('svg');
}
@font-face {
    font-family: 'notokr-demilight';
    src: url('../font/notokr-demilight.eot');
    src: url('../font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../font/notokr-demilight.woff2') format('woff2'),
         url('../font/notokr-demilight.woff') format('woff'),
         url('../font/notokr-demilight.ttf') format('truetype'),
         url('../font/notokr-demilight.svg#notokr-demilight') format('svg');
}

@font-face {
    font-family: 'notokr-light';
    src: url('../font/notokr-light.eot');
    src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../font/notokr-light.woff2') format('woff2'),
         url('../font/notokr-light.woff') format('woff'),
         url('../font/notokr-light.ttf') format('truetype'),
         url('../font/notokr-light.svg#notokr-light') format('svg');
}

@font-face {
	font-family: 'notokr-bold'; 
	src: url('../font/notokr-bold.eot'); 
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../font/notokr-bold.woff2') format('woff2'),
	url('../font/notokr-bold.woff') format('woff'),
	url('../font/notokr-bold.ttf') format('truetype'),	
	url('../font/notokr-bold.svg#notokr-bold') format('svg');
}

@font-face {
	font-family: 'notokr-regular'; 
	src: url('../font/notokr-regular.eot'); 
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../font/notokr-regular.woff2') format('woff2'),
	url('../font/notokr-regular.woff') format('woff'),
	url('../font/notokr-regular.ttf') format('truetype'),	
	url('../font/notokr-regular.svg#notokr-regular') format('svg');
}

@font-face {
	font-family: 'roboto-regular'; 
	src: url('../font/roboto/Roboto-Regular.eot'); 
	src: url('../font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
	url('../font/roboto/Roboto-Regular.woff') format('woff'),
	url('../font/roboto/Roboto-Regular.ttf') format('truetype'),	
	url('../font/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
	font-family: 'roboto-bold'; 
	src: url('../font/roboto/Roboto-Bold.eot'); 
	src: url('../font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
	url('../font/roboto/Roboto-Bold.woff') format('woff'),
	url('../font/roboto/Roboto-Bold.ttf') format('truetype'),	
	url('../font/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
	font-family: 'roboto-medium'; 
	src: url('../font/roboto/Roboto-Medium.eot'); 
	src: url('../font/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
	url('../font/roboto/Roboto-Medium.woff') format('woff'),
	url('../font/roboto/Roboto-Medium.ttf') format('truetype'),	
	url('../font/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
	font-family: 'roboto-light'; 
	src: url('../font/roboto/Roboto-Light.eot'); 
	src: url('../font/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/roboto/Roboto-Light.woff2') format('woff2'),
	url('../font/roboto/Roboto-Light.woff') format('woff'),
	url('../font/roboto/Roboto-Light.ttf') format('truetype'),	
	url('../font/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
	font-family: 'nanumBarunGothic-light';
	src: url('../font/NanumBarunGothic/NanumBarunGothicLight.eot'); 
	src: url('../font/NanumBarunGothic/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
	url('../font/NanumBarunGothic/NanumBarunGothicLight.woff2') format('woff2'),
	url('../font/NanumBarunGothic/NanumBarunGothicLight.woff') format('woff'),
	url('../font/NanumBarunGothic/NanumBarunGothicLight.ttf') format('truetype'),	
	url('../font/NanumBarunGothic/NanumBarunGothicLight.svg#NanumBarunGothicLight') format('svg');
}
@font-face {
	font-family: 'nanumBarunGothic-regular'; 
	src: url('../font/NanumBarunGothic/NanumBarunGothic.eot'); 
	src: url('../font/NanumBarunGothic/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
	url('../font/NanumBarunGothic/NanumBarunGothic.woff2') format('woff2'),
	url('../font/NanumBarunGothic/NanumBarunGothic.woff') format('woff'),
	url('../font/NanumBarunGothic/NanumBarunGothic.ttf') format('truetype'),	
	url('../font/NanumBarunGothic/NanumBarunGothic.svg#NanumBarunGothic') format('svg');
}
@font-face {
    font-family: 'nanumBarunGothic-bold';
    src: url('../font/NanumBarunGothic/NanumBarunGothicBold.eot');
    src: url('../font/NanumBarunGothic/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumBarunGothic/NanumBarunGothicBold.woff2') format('woff2'),
         url('../font/NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'),
         url('../font/NanumBarunGothic/NanumBarunGothicBold.ttf') format('truetype'),
         url('../font/NanumBarunGothic/NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg');
}

@font-face {
    font-family: 'nanumBarunGothic-ultraLight';
    src: url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.eot');
    src: url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
         url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.woff2') format('woff2'),
         url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.woff') format('woff'),
         url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.ttf') format('truetype'),
         url('../font/NanumBarunGothic/NanumBarunGothicUltraLight.svg#NanumBarunGothicUltraLight') format('svg');
}

@font-face {
	font-family: 'skpgo_MM'; 
	src: url('../font/skpGo/SKPGoMM_subset.eot'); 
	src: url('../font/skpGo/SKPGoMM_subset.eot?#iefix') format('embedded-opentype'),
	url('../font/skpGo/SKPGoMM_subset.woff') format('woff'),	
	url('../font/skpGo/SKPGoMM_subset.ttf') format('truetype'),
	url('../font/skpGo/SKPGoMM_subset.woff2') format('woff2'),	
	url('../font/skpGo/SKPGoMM_subset.svg#SKPGoMM_subset') format('svg');
}

@font-face {
	font-family: 'skpgo_LM'; 
	src: url('../font/skpGo/SKPGoLM_subset.eot'); 
	src: url('../font/skpGo/SKPGoLM_subset.eot?#iefix') format('embedded-opentype'),
	url('../font/skpGo/SKPGoLM_subset.woff') format('woff'),	
	url('../font/skpGo/SKPGoLM_subset.ttf') format('truetype'),
	url('../font/skpGo/SKPGoLM_subset.woff2') format('woff2'),	
	url('../font/skpGo/SKPGoLM_subset.svg#SKPGoLM_subset') format('svg');
}

@font-face {
	font-family: 'skpgo_BM'; 
	src: url('../font/skpGo/SKPGoBM_subset.eot'); 
	src: url('../font/skpGo/SKPGoBM_subset.eot?#iefix') format('embedded-opentype'),
	url('../font/skpGo/SKPGoBM_subset.woff') format('woff'),
	url('../font/skpGo/SKPGoBM_subset.ttf') format('truetype'),
	url('../font/skpGo/SKPGoBM_subset.woff2') format('woff2'),
	url('../font/skpGo/SKPGoBM_subset.svg#SKPGoBM_subset') format('svg');
}