<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Tmap 쿠폰">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="Tmap 쿠폰">
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="">    
    <meta property="og:description" content="Tmap 쿠폰">
    
    <link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="114×114" href="/share/favicon.png">

	<link rel="stylesheet" type="text/css" href="/share/css/font.css">
	<link rel="stylesheet" type="text/css" href="/comm/event_coupon/css/common.css?ver20190919_1">
	<link rel="stylesheet" type="text/css" href="/comm/event_coupon/css/coupon.css?ver20190919_1">
    
	<title>T map 쿠폰</title>
</head>

<body>
<div id="root">
	<header>
		<alink-item name="" class="btn-back" href="javascript:TmapWebView.closeWebView();"></alink-item>
		<alink-item name="이벤트&쿠폰" class="tit"></alink-item>
		<alink-item name="제휴" class="btn-right"></alink-item>
	</header>
	
	<div class="cp-tabs">
		<alink-item name="이벤트" class="event"></alink-item>
		<alink-item name="쿠폰" class="coupon active"></alink-item>
	</div>
	<div class="wrapper coupon">
	<section class="container">
		<tit name="보유"> <span class="br num">{{ currentItems.length }}</span></tit>
		<ul class="list-coupon mt5" v-if="currentItems.length">
			<li class="modal-toggle" v-for="item in currentItems">
				<div class="img"><img :src="item.src" alt="" /></div>
				<div class="txt">
					{{item.title}}
					<span class="date">{{item.date}}</span>
				</div>
			</li>
		</ul>
		<div class="noEvent" v-else>
			<div>진행중인 이벤트가 없습니다.</div> 
		</div>
		
	</section>
	<section class="container">
		<tit name="만료"> <span class="br num">{{ expiredItems.length }}</span></tit>
		<ul class="list-coupon mt5" v-if="expiredItems.length">
			<li class="modal-toggle" v-for="item in expiredItems">
				<div class="img"><img :src="item.src" alt="" /></div>
				<div class="txt">
					{{item.title}}
					<span class="date">{{item.date}}</span>
				</div>
			</li>
		</ul>
	</section>
	</div>
	
	<!-- 제휴서비스  -->
	<section class="detailServices">
		<ul class="scroll_"></ul>
	</section>
	<!-- //제휴서비스  -->
	
	<!-- 쿠폰팝업 -->
    <div id="modal-coupon" class="modal modal-coupon">
      <div class="modal-overlay modal-toggle"></div>
      <div class="modal-wrapper">
      	<a class="btn btn-cancel"><img src="/comm/event_coupon/images/icon-popup-close.png" alt="닫기" style="width:24px; height:24px"/></a>
        <div class="modal-content">
	        <div class="scroll_">
	        	<div class="mc-top">
	        		<h2 class="logo"><img src="/comm/event_coupon/images/icon-logo-black.png" alt="tmap logo" style="width:58px; height:23px"/></h2>
		        	<div class="cp-img">
		        		<img src="/comm/event_coupon/images/img-coupon-ssg.png" alt="" />
		        	</div>
		        	<div class="cp-txt">
		        		가나다라마바사아자차카파타하앓닭가나다라마바사아자차카파타하앓닭
		        		<span class="br date">12월 31일까지</span>
		        	</div>
	        	</div>
	        	
	        	<!-- 쿠폰 넘버 class : num --><!--  <div class="num">391802 - R21938021</div> -->
	        	<!-- 쿠폰 바코드 class : bcode -->
	        	<div class="bcode" >
	        		<div id="barcode"></div>
	        	</div> 
	        	<div class="cp-info">
	        		<h3>사용처</h3>
	        		<p>가나다라마바사아자차카파타하가나다라마바사아자차카파</p>
	        		<h3 class="mt13">이용안내 및 도움말</h3>
	        		<ul>
	        			<li>가나다라마바사아자차카파타하가나다라마바사아자차카파가나다라마바사아자차카파타하가나다라마바사아자차카파</li>
	        			<li>가나다라마바사아자차카파타하가나다라마바사아자차카파</li>
	        			<li>가나다라마바사아자차카파타하가나다라마바사아자차카파</li>
	        		</ul>
	        		<h3 class="mt13">고객문의</h3>
	        		<p>가나다라마바사아자차카파타하가나다라마바사아자차카파</p>
	        	</div>
	        </div>
        </div>
      <div class="_df btns">
        <button class="btn btn-block btn-del">사용하신 쿠폰은 삭제해주세요</button>
      </div>
      </div>
      
    </div>
    <!-- //쿠폰팝업 -->
    
    <!-- 카드삭제 팝업 -->
    <div id="modal-confirm" class="modal modal-confirm">
      <div class="modal-overlay modal-toggle"></div>
      <div class="modal-wrapper">
        <div class="modal-content">
         	 삭제하면 다시 사용할 수 없어요.<br>정말 삭제할까요?
        </div>
        <div class="_df btns">
          <button class="btn btn-gr w50p btn-cancel">취소</button>
          <button class="btn btn-bl w50p btn-confirm">확인</button>
        </div>
      </div>
    </div>
    <!-- //카드삭제 팝업 -->
    
</div>  
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="/comm/event_coupon/js/coupon_components.js"></script>
<script src="/share/js/jquery-3.3.1.min.js"></script>
<script src="/share/js/bodyScrollLock.js"></script>	
<script src="/share/js/TmapApp.js"></script>
<script src="/share/js/jquery-barcode.min.js" ></script>
<script src="/comm/event_coupon/js/partnerList.js"></script>
<script>
	$("#barcode").barcode("(00)188012345600000013", "code128", { showHRI:true, fontSize:10});
	const wh = window.innerHeight;
	const hdh = document.querySelector("header");
	const servicesEl = document.querySelector(".detailServices");
	const scrollEl = document.querySelector(".scroll_");
	const btnR = hdh.querySelector(".btn-right")
	
	servicesEl.style.height = (wh -  hdh.offsetHeight) + 'px';
	
    //show modal
	const showModal = function (el) {
		
    	this.el = document.querySelector('.'+ el) || this.el;
		this.mcw = this.el.querySelector('.modal-wrapper') || this.mcw;
		this.mcwh = mcw.offsetHeight || this.mcwh;
		
		this.el.classList.toggle('is-visible');
		document.querySelector('body').classList.add('oh');
		
		/* 쿠폰 팝업 */
		if(el === 'modal-coupon'){
			const bch = mcw.querySelector('.btn-cancel').offsetHeight;
			this.el.querySelector('.modal-content .scroll_').scrollTop = 0;
			mcw.querySelector('.modal-content').style.height = (wh - bch - 90) + 'px';
		}
		
		/* 컨펌 팝업 */
		//console.log(el === 'modal-confirm' && _this.classList.contains("is-visible"))
		if(el === 'modal-confirm' && this.el.classList.contains("is-visible")){
			mcw.style.marginTop = wh/2 - mcwh /2 + 'px';
		}
		
		//bodyScrollLock.disableBodyScroll(scrollEl);
		
	}
  	
    //add click event to tag 'li'
	const cpList = document.querySelectorAll(".list-coupon > li");
	cpList.forEach( x => {
	  x.addEventListener('click', (e) => { showModal('modal-coupon') });
	})
    
  	//modal cancel click event
	const cb = document.querySelectorAll(".btn-cancel");
	cb.forEach( i => {
	  i.addEventListener('click', (e) => {
		  //console.log(e.target)
		  e.target.closest('.modal').classList.remove('is-visible');
		  document.querySelector('body').classList.remove('oh');
		  bodyScrollLock.enableBodyScroll(scrollEl);
	  });
	})
	
	//modal confirm click
    document.querySelector(".btn-del").addEventListener('click', function(){showModal('modal-confirm') });
	
	//Tmap 제휴 서비스 링크
	document.querySelector(".btn-right").addEventListener('click', function(e){showServices(e, 'detailServices')});
	
	//탭 링크
	document.querySelector(".event").addEventListener('click', function(e){
		e.preventDefault();
		/* location.href="/app/event/index.do?uk=${uk}&ak=${ak}"; */
		location.replace("/app/event/index.do?uk=${uk}&ak=${ak}")
	});
	document.querySelector(".coupon").addEventListener('click', function(e){
		e.preventDefault();
	});


</script> 
</body>	
</html>